<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/meanmenu.css">
	<link rel="stylesheet" href="css/nice-select.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsivecss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
.form-details {
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    border: 1px solid #fff;
    width: 70%
}
.form-select.new2 {
    width: 100%;
    background: #ffffff;
}
</style>
<body>

  
 
    <!-- Signup Form -->
	<div class="login-section"  style="background-color: #643ad7; padding: 75px 0px; margin: 0px 0px 0px;">
    <div class="container">
        <form method="">
             <h4 style="text-align: center; padding: 20px 0px; color: #fff; font-size: 29px;">Profile Details</h4>
			 <div class="row">
<div class="col-lg-6">			 
                <div class="form-group info-name">
				<p style="color:#fff;">Date Of Birth</p>
                    <input type="date" placeholder="Date of Birth" class="form-details">
                </div>
</div>
<div class="col-lg-6">			 
                <div class="form-group info-name">
				<p style="color:#fff;">Gender</p>
                    <li style="width:70%; list-style-type: none;">          
                      <select class="form-select new2" style="display: none;">
                    <option>Male</option>
                <option>Female</option>
               </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Female</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="Woman" class="option selected focus">Female</li>
			   <li data-value="Man" class="option">Male</li>
			   </ul>
			   </div>
              </li>
				</div>
</div>
<div class="col-lg-6">			 
                <div class="form-group info-name">
				<p style="color:#fff;">Interested in</p>
                    <li style="width:70%; list-style-type: none;">          
                      <select class="form-select new2" style="display: none;">
                    <option>Man</option>
                <option>Woman</option>
               </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Man</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="Woman" class="option selected focus">Man</li>
			   <li data-value="Man" class="option">Woman</li>
			   </ul>
			   </div>
              </li>
				</div>
</div>
          <div class="col-lg-6">			 
            <div class="form-group info-name">
			 <p style="color:#fff;">Looking for</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                  <option>Man</option>
                 <option>Woman</option>
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Man</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="Woman" class="option selected focus">Man</li>
			   <li data-value="Man" class="option">Woman</li>
			   </ul>
			   </div>
              </li>
				</div>
                   </div>
				   <div class="col-lg-6">			 
            <div class="form-group info-name">
			 <p style="color:#fff;">Relationship History</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">....</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="Never Marrid" class="option selected focus">Never Marrid</li>
			   <li data-value="Separated" class="option">Separated</li>
			   <li data-value="Divorced" class="option">Divorced</li>
			   <li data-value="Widowed" class="option">Widowed</li>
			   <li data-value="Tell you later" class="option">Tell you later</li>
			   </ul>
			   </div>
              </li>
				</div>
                   </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Children</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Yes, at home with me</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="No" class="option selected focus">No</li>
			   <li data-value="Yes, at home with me" class="option">Yes, at home with me</li>
			   <li data-value="Yes, but they do't live with me" class="option">Yes, but they do't live with me</li>
			   </ul>
			   </div>
              </li>
				</div>
                   </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Ethnicity</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">South Asian</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="South Asian" class="option selected focus">South Asian</li>
			   <li data-value="Black / African Descent" class="option">Black / African Descent</li>
			   <li data-value="East Asian" class="option">East Asian</li>
			   <li data-value="Hispanic / Latinx" class="option">Hispanic / Latinx</li>
			   <li data-value="Middle Eastern" class="option">Middle Eastern</li>
			   <li data-value="Mixed" class="option">Mixed</li>
			   <li data-value="Other" class="option">Other</li>
			   <li data-value="White / Caucasian" class="option">White / Caucasian</li>
			   </ul>
			   </div>
              </li>
				</div>
                   </div>
        <div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Education</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">High school graduate</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="...." class="option selected focus">.....</li>
			   <li data-value="No degree" class="option">No degree</li>
			   <li data-value="High school graduate" class="option">High school graduate</li>
			   <li data-value="Attended college" class="option">Attended college</li>
			   <li data-value="College graduate" class="option">College graduate</li>
			   <li data-value="Advanced degree" class="option">Advanced degree</li>
			   </ul>
			   </div>
               </li>
				</div>
                 </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Industry</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Business Management</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="...." class="option selected focus">.....</li>
			   <li data-value="No degree" class="option">Arts/Music/Writing</li>
			   <li data-value="High school graduate" class="option">Banking/Finance</li>
			   <li data-value="Attended college" class="option">Business Management</li>
			   <li data-value="College graduate" class="option">Construction</li>
			   <li data-value="Advanced degree" class="option">Education</li>
			   </ul>
			   </div>
               </li>
				</div>
                 </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Religion</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">Hindu</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="...." class="option selected focus">.....</li>
			   <li data-value="Agnostic" class="option">Agnostic</li>
			   <li data-value="Atheist" class="option">Atheist</li>
			   <li data-value="Buddhist" class="option">Buddhist</li>
			   <li data-value="Christian" class="option">Christian</li>
			   <li data-value="Christian - Catholic" class="option">Christian - Catholic</li>
			   <li data-value="Jewish" class="option">Jewish</li>
			   <li data-value="Hindu" class="option">Hindu</li>
			   <li data-value="Muslim" class="option">Muslim</li>
			    <li data-value="Spiritual" class="option">Spiritual</li>
			   <li data-value="Sikh" class="option">Sikh</li>
			   </ul>
			   </div>
               </li>
				</div>
                 </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Smoking</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current">No</span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="...." class="option selected focus">.....</li>
			   <li data-value="No" class="option">No</li>
			   <li data-value="Yes, socially" class="option">Yes, socially</li>
			   <li data-value="Yes, regularly" class="option">Yes, regularly</li>			   
			   </ul>
			   </div>
               </li>
				</div>
                 </div>
		<div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Body Type</p>
               <li style="width:70%; list-style-type: none;">          
                 <select class="form-select new2" style="display: none;">
                </select>
			   <div class="nice-select form-select new" tabindex="0"><span class="current"></span>
			   <ul class="list" style="width: 100%;">
			   <li data-value="...." class="option selected focus">.....</li>
			   <li data-value="Slim" class="option">Slim</li>
			   <li data-value="Athletic" class="option">Athletic</li>
			   <li data-value="Average" class="option">Average</li>
                <li data-value="Stout" class="option">Stout</li>			   
			   </ul>
			   </div>
               </li>
				</div>
                 </div>
				 <div class="col-lg-6">			 
           <div class="form-group info-name">
			 <p style="color:#fff;">Height</p>
               <input type="number" placeholder="178 cm" class="form-new" style="width: 70%;border-radius: 5px; border: none; padding: 0px 15px;">
				</div>
                 </div>
</div>
                
                <div class="social-btn text-center">
                    <a href="#" class="btn btn-primary"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="btn btn-danger"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="btn btn-info"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="btn btn-primary"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#" class="btn btn-danger"><i class="fa-brands fa-instagram"></i></a>
                </div>
        </form>
    </div>
	</div>
    <!-- End Signup Form -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.meanmenu.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>